@import 'extra/fonts';
@import 'extra/variables';
@import 'extra/utilities';
@import 'extra/effects';

@import 'atoms/titles';
@import 'atoms/button';
@import 'atoms/input';

@import 'molecules/alert';

@import 'organisms/login';



html{
  font-size: 14px;
  height: 100%;
}
body{
  background-color: $c-base;
  height: 100%;
}