@import 'extra/media';
@import 'extra/fonts';
@import 'extra/variables';
@import 'extra/utilities';
@import 'extra/effects';
@import 'extra/myAnimations';

@import 'atoms/titles';
@import 'atoms/button';
@import 'atoms/input';

@import 'molecules/alert';
@import 'molecules/navbar';
@import 'molecules/search';
@import 'molecules/separator';
@import 'molecules/tarjeta';

@import 'organisms/login';



html{
  font-size: 14px;
  height: 100%;
}
body{
  background-color: $c-base;
  height: 100%;
}