<label class="myInput__label">
  <b>{{ label }}:</b>
</label>
<input *ngIf="type != 'password'" type="{{ type }}" class="myInput form-control" (keyup)="changeValue($event)" placeholder="{{ placeholder }}" [ngClass]="{'error':hasError=='true'}">
<div *ngIf="type == 'password'" class="input-group">
  <input [type]="showPass ? 'text' : 'password'" class="myInput form-control" (keyup)="changeValue($event)" placeholder="{{ placeholder }}" [ngClass]="{'error':hasError=='true'}">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="showPass = !showPass">
      <i *ngIf="showPass" class="fas fa-eye" aria-hidden="true"></i>
      <i *ngIf="!showPass" class="fas fa-eye-slash" aria-hidden="true"></i>
    </button>
  </div>
</div>
<small class="myInput__help-text form-text text-muted">
  {{ helpMessage }}
</small>
