/* line 11, assets/scss/extra/_utilities.scss */
.b-radius-0 {
  border-radius: 0px !important;
}

@-webkit-keyframes lightSaber {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes lightSaber {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* line 10, assets/scss/extra/_myAnimations.scss */
.lightSaber {
  -webkit-animation-name: lightSaber;
          animation-name: lightSaber;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

/* line 1, assets/scss/atoms/_titles.scss */
.myText {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* line 8, assets/scss/atoms/_titles.scss */
.myLink {
  color: #FDC502;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: 0.5 all ease-out;
}

/* line 15, assets/scss/atoms/_titles.scss */
.myLink:hover {
  color: #FDC502;
  text-decoration: underline;
}

/* line 21, assets/scss/atoms/_titles.scss */
.mySubtitle {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 13, assets/scss/atoms/_button.scss */
.myBtn__primary {
  background-color: #FDC502;
  color: #060C21;
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  transition: 0.3s all ease-out;
}

/* line 17, assets/scss/atoms/_button.scss */
.myBtn__primary:hover {
  background-color: #fed64e;
}

/* line 20, assets/scss/atoms/_button.scss */
.myBtn__primary:active {
  background-color: #b18a01;
}

/* line 23, assets/scss/atoms/_button.scss */
.myBtn__primary:disabled {
  background-color: rgba(253, 197, 2, 0.3);
  border: 3px solid #FDC502;
  color: #FDC502;
  cursor: not-allowed;
}

/* line 1, assets/scss/atoms/_input.scss */
.myInput-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s all ease-out;
}

/* line 5, assets/scss/atoms/_input.scss */
.myInput-group .myInput__label {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* line 11, assets/scss/atoms/_input.scss */
.myInput-group .myInput {
  height: 45px;
  padding: 10px;
  color: #fff;
  background-color: #060C21;
  border: 3px solid #fff;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: 0.3s all ease-out;
}

/* line 21, assets/scss/atoms/_input.scss */
.myInput-group .myInput::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.myInput-group .myInput::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.myInput-group .myInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

/* line 26, assets/scss/atoms/_input.scss */
.myInput-group .myInput:focus {
  border-color: #FDC502;
}

/* line 30, assets/scss/atoms/_input.scss */
.myInput-group .myInput__help {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 3px;
}

/* line 37, assets/scss/atoms/_input.scss */
.myInput-group.error .myInput__label {
  color: #F00000;
}

/* line 40, assets/scss/atoms/_input.scss */
.myInput-group.error .myInput {
  border-color: #F00000;
}

/* line 43, assets/scss/atoms/_input.scss */
.myInput-group.error .myInput__help {
  color: #F00000;
}

/* line 2, assets/scss/molecules/_alert.scss */
.alert .alert__icon {
  display: flex;
  align-items: center;
}

/* line 1, assets/scss/molecules/_navbar.scss */
.myNavbar {
  font-family: 'Lato', sans-serif;
}

/* line 1, assets/scss/molecules/_search.scss */
.mySearch {
  width: 100%;
  margin: 10px auto;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* line 1, assets/scss/molecules/_search.scss */
  .mySearch {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 1, assets/scss/molecules/_search.scss */
  .mySearch {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 1, assets/scss/molecules/_search.scss */
  .mySearch {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 1, assets/scss/molecules/_search.scss */
  .mySearch {
    width: 40%;
  }
}

/* line 16, assets/scss/molecules/_search.scss */
.mySearch .myBtn__primary {
  font-size: 12px;
}

/* line 1, assets/scss/molecules/_separator.scss */
.separator {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px;
}

/* line 6, assets/scss/molecules/_separator.scss */
.separator .mySubtitle {
  margin-bottom: 10px;
}

/* line 8, assets/scss/molecules/_separator.scss */
.separator .mySubtitle::after {
  content: ':';
}

/* line 12, assets/scss/molecules/_separator.scss */
.separator .line {
  width: 100%;
  border: 2px solid #2DD100;
  box-shadow: 0px 0px 10px 1px #2DD100;
}

/* line 1, assets/scss/molecules/_tarjeta.scss */
.myCard {
  transition: 0.5s all ease-out;
}

/* line 3, assets/scss/molecules/_tarjeta.scss */
.myCard .box {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin: 20px 5px;
}

/* line 9, assets/scss/molecules/_tarjeta.scss */
.myCard:nth-child(odd) > .box {
  border: 2px solid #2196f3;
  box-shadow: 0px 0px 10px 1px #2196f3;
}

/* line 12, assets/scss/molecules/_tarjeta.scss */
.myCard:nth-child(even) > .box {
  border: 2px solid #F00000;
  box-shadow: 0px 0px 10px 1px #F00000;
}

/* line 15, assets/scss/molecules/_tarjeta.scss */
.myCard:hover {
  transform: scale(1.1);
}

/* line 18, assets/scss/molecules/_tarjeta.scss */
.myCard .info, .myCard .photo {
  margin: 3px;
}

/* line 21, assets/scss/molecules/_tarjeta.scss */
.myCard .info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* line 24, assets/scss/molecules/_tarjeta.scss */
.myCard .info .title, .myCard .info .action {
  display: flex;
  flex-direction: row;
}

/* line 27, assets/scss/molecules/_tarjeta.scss */
.myCard .info .title {
  background-color: #252A3D;
  height: 50%;
  color: #fff;
  justify-content: center;
  align-items: flex-end;
  word-break: break-word;
  text-align: center;
}

/* line 36, assets/scss/molecules/_tarjeta.scss */
.myCard .info .action {
  height: 50%;
  padding: 5px;
  align-items: center;
}

/* line 40, assets/scss/molecules/_tarjeta.scss */
.myCard .info .action .myBtn__primary {
  font-size: 12px;
  height: 35px;
}

/* line 46, assets/scss/molecules/_tarjeta.scss */
.myCard .photo {
  width: 40%;
}

/* line 48, assets/scss/molecules/_tarjeta.scss */
.myCard .photo img {
  width: 100%;
}

/* line 1, assets/scss/organisms/_login.scss */
.myLogin {
  width: 90%;
  height: 80%;
  max-height: 90%;
  min-height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background: #060c21;
  box-sizing: border-box;
  border-radius: 5px;
}

/* line 14, assets/scss/organisms/_login.scss */
.myLogin form {
  width: 70%;
  min-width: 65%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 22, assets/scss/organisms/_login.scss */
.myLogin .logo {
  width: 150px;
}

/* line 2, assets/scss/extra/_effects.scss */
.blue-red--gradBorder::before {
  z-index: -1;
}

/* line 5, assets/scss/extra/_effects.scss */
.blue-red--gradBorder::after {
  z-index: -2;
}

/* line 8, assets/scss/extra/_effects.scss */
.blue-red--gradBorder::before, .blue-red--gradBorder::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  background: #fff;
  background: linear-gradient(180deg, #2196f3, #060C21, #F00000);
  border-radius: 5px;
}

/* line 22, assets/scss/extra/_effects.scss */
.border--blur::after {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

@media screen and (min-width: 576px) {
  /* line 2, assets/scss/organisms/_modal.scss */
  .myModal .modal-dialog {
    max-width: 700px;
  }
}

/* line 6, assets/scss/organisms/_modal.scss */
.myModal .modal-dialog .modal-content {
  background-color: #444959;
}

/* line 8, assets/scss/organisms/_modal.scss */
.myModal .modal-dialog .modal-content .modal-header {
  background-color: #252a3d;
  color: white;
  border: none;
}

/* line 12, assets/scss/organisms/_modal.scss */
.myModal .modal-dialog .modal-content .modal-header button.close {
  color: #fff;
}

/* line 17, assets/scss/organisms/_modal.scss */
.myModal .modal-dialog .modal-content .modal-body .subtitle {
  color: #fff;
}

/* line 21, assets/scss/organisms/_modal.scss */
.myModal .modal-dialog .modal-content .modal-body .info-s button.myBtn__primary {
  font-size: 12px;
  height: 35px;
}

/* line 27, assets/scss/organisms/_modal.scss */
.myModal .modal-dialog .modal-content .modal-footer {
  border: none;
}

/* line 23, assets/scss/myStyle.scss */
html {
  font-size: 14px;
  height: 100%;
}

/* line 27, assets/scss/myStyle.scss */
body {
  background-color: #060C21;
  height: 100%;
}
