<div class="row row-login">
  <div class="col-12 d-flex">
    <app-alert *ngIf="alertData.showAlert" [type]="alertData.type" [title]="alertData.title" [message]="alertData.message" class="align-items-center d-flex flex-column justify-content-center w-100"></app-alert>
  </div>
  <div class="col-12">
    <div class="block-login m-auto">
      <div class="block-login__content">
        <h4 class="title text-center mb-4">
          <b>Entrar a mi cuenta</b>
        </h4>
        <app-input-form class="w-100" (emailToEmit)="getEmail($event)" (passToEmit)="getPassword($event)" [errorForInput]="errorInput"></app-input-form>
        <!-- <app-button [typeButton]="'principal'" [textButton]="'Entrar'" [otherClass]="'block-login__button'" [parametersEventDefault]="{pEmail:email,pPass:password}"></app-button> -->
        <button type="button" class="myButton btn btn-primary block-login__button" (click)="validateData()" [disabled]="wait">
          <span *ngIf="wait">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            Espere
          </span>
          <span *ngIf="!wait">Entrar</span>
        </button>
        <app-checkbox [label]="'Mantenerme conectado'"></app-checkbox>
      </div>
      <div class="block-login__borderSvg">
        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 210.1 30.4" version="1.1"><style>.s0{fill:#fff;stroke-linejoin:round;stroke-width:0.5;stroke:#ececec;}</style><g transform="translate(0.04309927,-102.69386)"><path d="m10 103.3 199.9 0-0.1 19.9c0 5.4-4.4 9.8-9.8 9.8H10c-5.4 0-9.8-4.4-9.8-9.8v-10c0-5.4 4.4-9.9 9.8-9.8z" class="s0"/><path d="m209.9 103.2c0 3.4 0 5.3 0 5.3 0 3.6-10.8 19.1-22.4 19.1H11.8c-7.7 0-11.6-6.7-11.6-12.6l0-11.8z" class="s0"/><path d="m189.2 127.5c8.3-1.1 17.5-6.5 20.7-18.4l-20.7 0c5.3 5.3 5.3 11.8 0 18.4z" style="fill:#f9f9f9;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.5;stroke:#ececec"/><rect ry="0" rx="0" y="102.7" x="0" height="6.3" width="210.1" fill="#fff"/></g></svg>
      </div>
    </div>
    <div class="col-12">
      <div class="block-links">
        <p class="myFont__small"><u><b>¿Tienes una cuenta? <a href="#">Inscribirse</a></b></u></p>
        <p class="myFont__smaller">¿Olvidó su contraseña? <a href="#">Click aqui</a></p>
      </div>
    </div>
    <div class="col-12">
      <div class="block-copyright">
        <div class="block-copyright__icon">
          <b>¡</b>
        </div>
        <div class="block-copyright__name">
          Keyrus
        </div>
      </div>
    </div>
  </div>
</div>