<div class="container m-3">
  <h1>Star Wars Characters</h1>
  <hr>
  <div class="card-columns">
    <div class="card" *ngFor="let personaje of personajes">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{ personaje.name }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Height:</b> {{personaje.height}}</li>
          <li class="list-group-item"><b>Mass:</b> {{personaje.mass}}</li>
          <li class="list-group-item"><b>Hair color:</b> {{personaje.hair_color}}</li>
          <li class="list-group-item"><b>Skin color:</b> {{personaje.skin_color}}</li>
          <li class="list-group-item"><b>Birth year:</b> {{personaje.birth_year}}</li>
          <li class="list-group-item"><b>Gender:</b> {{personaje.gender}}</li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-outline-dark mr-2" (click)="homeworld(personaje.homeworld)" data-toggle="modal" data-target="#exampleModal">
            Homeworld Data
          </button>
          <button type="button" class="btn btn-outline-dark ml-2" (click)="films(personaje.films)" data-toggle="modal" data-target="#exampleModal2">
            Films Data
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled':prev===null}">
        <button class="page-link" [disabled]="!prev" (click)="people(prev)" tabindex="-1" aria-disabled="true">Previous</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':next===null}">
        <button class="page-link" [disabled]="!next" (click)="people(next)" tabindex="-1" aria-disabled="true">Next</button>
      </li>
    </ul>
  </nav>



  <!-- Modal 1 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel"><b>Homeworld: </b>{{ planeta.name}}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item"><b>Rotation period:</b> {{planeta.rotation_period}}</li>
            <li class="list-group-item"><b>Orbital period:</b> {{planeta.orbital_period}}</li>
            <li class="list-group-item"><b>Diameter:</b> {{planeta.diameter}}</li>
            <li class="list-group-item"><b>Climate:</b> {{planeta.climate}}</li>
            <li class="list-group-item"><b>Gravity:</b> {{planeta.gravity}}</li>
            <li class="list-group-item"><b>Terrain:</b> {{planeta.terrain}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 2 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Films of Character</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group mb-3" *ngFor="let pelicula of peliculas; index as i">
            <h4 class="list-group-item text-center"><b>Film:</b> {{pelicula.title}}</h4>
            <li class="list-group-item"><b># Episode:</b> {{pelicula.episode_id}}</li>
            <li class="list-group-item"><b>Opening text:</b> {{pelicula.opening_crawl}}</li>
            <li class="list-group-item"><b>Director:</b> {{pelicula.director}}</li>
            <li class="list-group-item"><b>Release date:</b> {{pelicula.release_date}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>