.myLogin{
  width: 90%;
  height: 80%;
  max-height: 90%;
  min-height: 70%;
  position: relative;
  @include d-flex-c;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background: #060c21;
  box-sizing: border-box;
  border-radius: 5px;
  form{
    width: 70%;
    min-width: 65%;
    max-width: 75%;
    @include d-flex-c;
    justify-content: center;
    align-items: center;
  }
  .logo{
    width: 150px;
  }
}

.blue-red--gradBorder{
  @include gradientBorder($c-light-side, $c-dark-side);
}

.border--blur{
  @include blur(15);
}


