input, p, a, label, span, .block-copyright{
  font-family: 'Lato', sans-serif;
}

.myInput__label, .title, .btn{
  font-family: 'Open Sans', sans-serif;
}

.myFont__small{
  font-size: 14px;
}

.myFont__smaller{
  font-size: 12px;
}