@mixin f-lato {
  font-family: 'Lato', sans-serif;
}

@mixin f-roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin f-bigger {
  font-size: 20px;
}

@mixin f-big {
  font-size: 18px;
}

@mixin f-x-normal {
  font-size: 16px;
}

@mixin f-normal {
  font-size: 14px;
}

@mixin f-small {
  font-size: 12px;
}

@mixin f-smaller {
  font-size: 10px;
}